.alt-header {
    padding: var(--horizontal-space);
    box-sizing: border-box;
    position: fixed;
    top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}

.alt-header__column{
    width: 33%;

 }

 .alt-header__column:nth-child(2) {
    display:flex;
    justify-content: center;
}


.alt-header__column:first-child {
    display:flex;
    justify-content: flex-start;
}

.alt-header__column:last-child {
    display:flex;
    justify-content: flex-end;
}

